.loginFormContent {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.loginWrapper {
    position: relative;
    margin: auto;
    background: linear-gradient(to bottom, #3A6073, #16222A);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: #fff;
    border-radius: 30px;
    width: 100%;
    max-width: 380px;
    padding: 80px 40px 40px;
}

.formImage {
    position: absolute;
    width: 100px;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(190, 90, 75, 0.8);
    border-radius: 50%;
}

.inputGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.inputGroup input::placeholder {
    color:white;
}


.inputGroup input {
    color:white;
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: inherit;
}

.inputGroup input:hover {
    border-color: rgba(190, 90, 75, 0.8);
}

.loginUserFormBtn {
    position: absolute;
    border:none;
    top: 100%;
    width: 90%;
    max-width: 300px;
    border-radius: 0 0 30px 30px;
    padding: 20px 40px 10px;
    background: linear-gradient(to bottom, #3A6073, #16222A);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: #fff;
}

.loginUserFormBtn:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    background: linear-gradient(to bottom, #3A6073, #10191f);
    color: #be5a4b;
}