.pageHeader {
  display: flex;
  align-items: center;
  background: #f2f2f2;
  padding: 10px 0 10px 10px;
}

.headerLogo {
  width: 80px;
  margin-right: 10px;
}

.headerTitle {
    font-size: 48px;
    color: #000;
}
