@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");

.pageHeader {
  display: flex;
  align-items: center;
  background: #f2f2f2;
  padding: 10px 0 10px 10px;
}

.headerLogo {
  width: 80px;
  margin-right: 10px;
}

.headerTitle {
    font-size: 48px;
    font-family: "Arizonia", cursive;
}
