.signupFormContent {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.signupWrapper {
    position: relative;
    margin: auto;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 30px;
    width: 100%;
    max-width: 380px;
    padding: 80px 40px 40px;
}

.formImage {
    position: absolute;
    width: 100px;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(190, 90, 75, 0.8);
    border-radius: 50%;
}

.inputGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}


.inputGroup input {
    color:white;
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: inherit;
}

.inputGroup input:hover {
    border-color: rgba(190, 90, 75, 0.8);
}

.registerUserFormBtn {
    position: absolute;
    border:none;
    top: 100%;
    width: 90%;
    max-width: 300px;
    border-radius: 0 0 30px 30px;
    padding: 20px 40px 10px;
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.7), #656565);
    color: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}