.tripActionSideBar {
  max-width: 100px;
  min-width: 50px;
  background-color: #5d5c61;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.tripSideBarActions {
  position: relative;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px 0 0 6px;
  transition: 0.5s;
}

.tripSideBarActions:hover {
  background-color: rgba(141, 137, 156, 0.8);
}


.tripSideBarActions::after {
  z-index: -1;
  opacity: 0;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  width: 122px;
  padding: 5px 0;
  background-color: rgba(141, 137, 156, 0.8);
  border-radius: 0 6px 6px 0;
  transition: all 0.5s;
}

.actionDeleteTrip::after {
  content: attr(delete-data);
}

.actionEditTrip::after {
  content: attr(edit-data);
}

.actionCompleteTrip::after {
  content: attr(data-status);
}

.actionCloneTrip::after {
  content: attr(clone-data);
}

.tripSideBarActions:hover::after {
  z-index: 1;
  opacity: 1;
  background-color: rgba(141, 137, 156, 0.8);
}