@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Spectral', serif;
    font-weight: 600;
}

.font__family__arizonia {
    font-weight: 600;
}