h6::before,
h6::after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}

h6::before {
  margin-right: 10px;
}

h6::after {
  margin-left: 10px;
}

.tripImage {
  width: 400px;
  object-fit: cover;
}

.tripActionSideBar {
  width: 50px;
  background-color: black;
  margin-left: 10px;

}